$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~mini.css/src/flavors/mini-default";

html, body {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;

  & > header {
    flex-shrink: 0;
  }

  & > main {
    overflow: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  & > footer {
    flex-shrink: 0;
  }
}

dl.inline {
  margin: 0;

  dt {
    margin: 0 0 0 1em;
    display: inline;
  }

  dt:first-child {
    margin: 0;
  }

  dd {
    margin: 0;
    display: inline;
  }
}

ul.inline {
  list-style-type: none;
  padding: 0;

  li {
    display: inline-block;
    padding: 0 0.25em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

header {
  a.active {
    font-weight: bold;
  }

  .push {
    float: right;
  }
}

footer {
  padding: $universal-margin;

  ul {
    margin: 0;
  }
}

@media print {
  body {
    display: block;

    & > header {
    }

    & > main {
      display: block;
    }

    & > footer {
    }
  }
}
