@import "./common";

body {
  & > main {
    & > article {
      order: 2;
    }

    & > aside {
      order: 1;

      sg-media-player {
        height: 20vh;
      }
    }
  }
}

@media screen and (min-width: #{$grid-medium-breakpoint}) {
  body {
    & > main {
      display: flex;
      flex-direction: row !important;
      justify-content: start;
      align-items: stretch;

      & > article {
        width: 50vw;
        overflow: auto;
        order: 1;
      }

      & > aside {
        order: 2;
        width: 50vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: stretch;

        sg-media-player {
          height: auto;
        }
      }
    }
  }
}
