<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>patterns - smartgram</title>
    <link rel="manifest" href="smartgram.webmanifest">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="no-print">
    <span class="logo hidden-sm">smartgram</span>
    <a class="button active" href="./">
        <i class="fa fa-fw fa-cut"></i>
        <span class="hidden-sm">pattern</span>
    </a>
    <a class="button" href="./designer.html">
        <i class="fa fa-fw fa-film"></i>
        <span class="hidden-sm">designer</span>
    </a>
    <a class="button" href="./player.html">
        <i class="fa fa-fw fa-tv"></i>
        <span class="hidden-sm">player</span>
    </a>
    <button class="push" onclick="window.print()">
        <i class="fa fa-fw fa-print"></i>
        <span class="hidden-sm">print</span>
    </button>
</header>

<main>

    <h1 class="print-only">Reflective Prism</h1>

    <article class="prism-properties">
        <h2>Prism Properties</h2>
        <div class="row">
            <sg-polygon-form class="no-print" id="polygonForm"></sg-polygon-form>
            <sg-polygon-overview id="polygonOverview"></sg-polygon-overview>
        </div>
    </article>

    <article>
        <h2>Prism Pattern</h2>
        <sg-polygon-pattern id="polygonPattern"></sg-polygon-pattern>
    </article>

</main>

<footer>
    <ul class="inline">
        <li>
            <%= htmlWebpackPlugin.options.pkg.version %>
        </li>
        <li class="no-print">
            <i class="fab fa-fw fa-gitlab"></i>
            <a href="https://gitlab.com/tmorin/smartgram" target="_blank">
                source on GitLab
            </a>
        </li>
        <li class="print-only">
            https://gitlab.com/tmorin/smartgram
        </li>
    </ul>
</footer>

</body>
</html>
