@import "./common";

sg-polygon-form, sg-polygon-overview, sg-polygon-pattern {
  display: block;
}

sg-polygon-pattern {
  svg {
    max-width: 100%;
  }
}

.prism-properties {
  .row {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.print-only {
  display: none !important;
}

@media print {
  .print-only {
    display: initial !important;
  }
  .no-print {
    display: none !important;
  }
  sg-polygon-pattern {
    svg {
      max-width: none;
    }
  }
}