<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>player - smartgram</title>
    <link rel="manifest" href="smartgram.webmanifest">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<header class="no-print">
    <span class="logo hidden-sm">smartgram</span>
    <a class="button" href="./">
        <i class="fa fa-fw fa-cut"></i>
        <span class="hidden-sm">pattern</span>
    </a>
    <a class="button" href="./designer.html">
        <i class="fa fa-fw fa-film"></i>
        <span class="hidden-sm">designer</span>
    </a>
    <a class="button active" href="./player.html">
        <i class="fa fa-fw fa-tv"></i>
        <span class="hidden-sm">player</span>
    </a>
    <div class="push">
        <a class="button" href="">
            <i class="fas fa-fw fa-sync-alt"></i>
        </a>
        <button data-action="fullscreen">
            <i class="fas fa-fw fa-expand-arrows-alt"></i>
        </button>
    </div>
</header>

<main></main>

<footer>
    <ul class="inline">
        <li>
            <%= htmlWebpackPlugin.options.pkg.version %>
        </li>
        <li class="no-print">
            <i class="fab fa-fw fa-gitlab"></i>
            <a href="https://gitlab.com/tmorin/smartgram" target="_blank">
                source on GitLab
            </a>
        </li>
    </ul>
</footer>

</body>
</html>
