@import "./common";

body {
  & > main {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    form {
      flex-grow: 0;
    }

    video {
      background: black;
      width: 100%;
      align-self: stretch;
    }
  }
}

form[name=open-room] {
  display: flex;
  flex-direction: column;

  * {
    width: auto;
    flex-grow: 1;
    flex-shrink: 1;
    margin: $universal-margin;
    padding: $universal-padding;
  }
}