@import "./common";

sg-media-editor {
  display: block;

  .original_media {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  canvas, video, img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 200px;
  }

  img {
    width: auto;
  }

}
