@import "./common";

sg-media-provider {
  display: block;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;

    & > * {
      flex-grow: 1;
    }

    .two-columns {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      & > * {
        flex-grow: 0;
        flex-shrink: 0;
      }
    }
  }

}
